[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Local Printer Config (CUPS)
Comment=Local Printer Admin Webpage (HP CUPS)
Exec=x-www-browser "http://localhost:631/"
Icon=/usr/share/icons/nuoveXT2/128x128/apps/browser.png
Categories=TKL_Admin
Terminal=false
NoDisplay=false
OnlyShowIn=LXDE
