[Desktop Entry]
Name=Generic Shortcut
Encoding=UTF-8
Exec=lxterminal -e "/usr/bin/confconsole"
Comment=Generic Shortcut Comment
Icon=/usr/share/icons/nuoveXT2/128x128/apps/terminal.png
ExecutionMode=Terminal
NoDisplay=false
Categories=TKL_Admin;
OnlyShowIn=LXDE
Type=Application